@using Epam.UsersAndAwards.Entities;

@{
    /**/

    Layout = "~/_Layout.cshtml";
    var users = Epam.UsersAndAwards.WebUI.LogicProvider.UserLogic;
    var awards = Epam.UsersAndAwards.WebUI.LogicProvider.AwardLogic;
    var userAwards = Epam.UsersAndAwards.WebUI.LogicProvider.UserAwardsLogic;
}
@section scripts {
    <script src="~/Scripts/MyScript/delete-user.js"></script>
}
@section styles{
    <link href="~/Styles/pageIndex.css" rel="stylesheet" />
}

@if (User.IsInRole("Admin"))
{
    <a href="~/Users/add" class="btn btn-success">
        Add user
    </a>

    <a href="~/Users/addaward" class="btn btn-success">
        Add award
    </a>

    <a href="~/Users/policy" class="btn btn-success">
        Legal policy
    </a>

}

<h4>Users list:</h4>

<ul id="userList">
    @foreach (var user in users.GetAll())
    {
        <li data-id="@user.Id">

            <span>
                @user.FirstName @user.LastName @Epam.UsersAndAwards.WebUI.LogicProvider.UserLogic.GetAge(user.BirthDate)
                (Birthday: @user.BirthDate.ToString("dd.MM.yyyy"))
            </span>

            @if (User.Identity.IsAuthenticated)
            {
                if (userAwards.UserHasAwards(user.Id))
                {
                    <div>
                        User awards:
                        <div>
                            @foreach (var award in userAwards.GetUserAwards(user.Id))
                            {
                                <div>
                                    @{ Award userAward = awards.GetAwardById(int.Parse(award));

                                        <img src="~/ViewImage?id=@userAward.ImageId" alt=@userAward.Title class="img-rounded img-responsive" width="20" height="20">

                                        @userAward.Title
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            @if (User.IsInRole("Admin"))
            {

                <a href="~/Users/edit?id=@user.Id" class="edit-user btn btn-sm btn-warning">
                    Edit
                </a>

                <button class="delete-user btn btn-sm btn-danger">Del</button>

                <a href="~/Users/addawardtouser?id=@user.Id" class="add-award btn btn-sm btn-success">
                    Add award to user
                </a>

            }
            <hr />
        </li>
    }
</ul>

