@using Epam.UsersAndAwards.Entities;

@{
    Layout = "~/_Layout.cshtml";
    var users = Epam.UsersAndAwards.WebUI.LogicProvider.UserLogic;
    var awards = Epam.UsersAndAwards.WebUI.LogicProvider.AwardLogic;
    var userAwards = Epam.UsersAndAwards.WebUI.LogicProvider.UserAwardsLogic;
}
@section styles{
    <link href="~/Styles/pageIndex.css" rel="stylesheet" />
}

@if (User.IsInRole("Admin"))
{
    <a href="~/Users/userpolicy" class="btn btn-success">
        User policy
    </a>

    <a href="~/Users/awardpolicy" class="btn btn-success">
        Award policy
    </a>

    <a href="~/Account/accountpolicy" class="btn btn-success">
        Account policy
    </a>

}

<h4>Users list:</h4>

<ul id="userList">
    @foreach (var user in users.GetAll())
    {
        <li data-id="@user.Id">

            <span>
                @user.FirstName @user.LastName @Epam.UsersAndAwards.WebUI.LogicProvider.UserLogic.GetAge(user.BirthDate)
                (Birthday: @user.BirthDate.ToString("dd.MM.yyyy"))
            </span>

            @if (User.Identity.IsAuthenticated)
            {
                if (userAwards.UserHasAwards(user.Id))
                {
                    <div>
                        User awards:
                        <div>
                            @foreach (var award in userAwards.GetUserAwards(user.Id))
                            {
                                <div>
                                    @{ Award userAward = awards.GetAwardById(int.Parse(award));

                                        <img src="~/ViewImage?id=@userAward.ImageId" alt=@userAward.Title class="img-rounded img-responsive" width="20" height="20">

                                        @userAward.Title
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            <hr />
        </li>
    }
</ul>

