@{
    var messagesLogic = Epam.MySocialNet.WebUI.LogicProvider.MessagesLogic;
    var accountLogic = Epam.MySocialNet.WebUI.LogicProvider.AccountsLogic;
    var last20Messages = messagesLogic.GetAllSharedMessages();
    var account = accountLogic.GetAccountByLogin(User.Identity.Name);
    bool isAdmin = false;
}

@if (User.Identity.IsAuthenticated)
{
    isAdmin = accountLogic.CheckAdminRole(User.Identity.Name);

    <div class="top-message-part">
        <div>
            <a class="nav-button" href="#up">
                Наверх
            </a>

            @if (isAdmin)
            {
                <a class="nav-button" href="~/Accounts/EditUserList">
                    Ред. польз.
                </a>
            }

            <a class="nav-button" href="#down">
                Вниз
            </a>
            <a class="nav-button" href="~/Message/AddMessage?ToId=0">
                Написать сообщение
            </a>
        </div>
    </div>
}

<div class="message-container">
    @*<div class="navigation-message">
            <a class="nav-button" href="#up">
                Наверх
            </a>

            @if (isAdmin)
            {
                <a class="nav-button" href="~/Accounts/EditUserList">
                    Ред. польз.
                </a>
            }

            <a class="nav-button" href="#down">
                Вниз
            </a>
        </div>*@

    <ul class="message-list" id="message-list">
        @{
            foreach (var message in last20Messages)
            {
                <li data-id="@message.Id">
                    <div class="message">
                        <div class="message-header">
                            @{
                                var senderAccount = accountLogic.GetAccountById(message.SenderAccountId);

                                <a href="~/Accounts/UserPage?Id=@senderAccount.Id">
                                    @if (senderAccount.ImageId > 0)
                                    {
                                        <img src="~/ViewImage?id=@senderAccount.ImageId" alt="@senderAccount.FirstName image" class="img-responsive" width="50" height="50">
                                    }
                                    else
                                    {
                                        <img src="~/DefaultImages/default_user_image.png" alt="user image" class="img-rounded img-responsive" width="50" height="50">
                                    }
                                </a>

                                <text>
                                    @senderAccount.FirstName <span class="date">(@message.CreationTime)</span>
                                </text>
                            }

                            @if (isAdmin)
                            {
                                <div>
                                    <button class="editMessage">Edit</button>
                                </div>
                            }
                        </div>

                        <div class="main-message">
                            @message.Text
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>



<button id="myBtn">Открыть окно</button>


<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Редактор сообщений</h2>
        </div>

        <div class="modal-body">
            <textarea name="message" rows="6" cols="40" id="edit"></textarea>
        </div>

        <div class="modal-footer">
            <button type="button" id="sendEditMessage">Редактировать</button>
        </div>
    </div>
</div>

<div id="errorModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Ошибка!</h2>
        </div>

        <div class="modal-body">
            <p class="error-text"></p>
        </div>

        <div class="modal-footer">
            <button type="button" id="sendEditMessage">Редактировать</button>
        </div>
    </div>
</div>


@section styles{
    <link href="~/Content/MyContent/modal.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/Custom/editMessage.js"></script>
}