@using Epam.UsersAndAwards.Logic
@using Epam.UsersAndAwards.Entities

@section scripts {
    <script src="~/Scripts/MyScript/delete-user.js"></script>
}


@if (!User.IsInRole("Admin"))
{
    Response.Redirect("/Account");
}

@{
    var users = Epam.UsersAndAwards.WebUI.LogicProvider.UserLogic;
    var awards = Epam.UsersAndAwards.WebUI.LogicProvider.AwardLogic;
    var userAwards = Epam.UsersAndAwards.WebUI.LogicProvider.UserAwardsLogic;

}

@{
    if (IsPost)
    {

        var userLogic = new UserLogic();

        string firstName = Request["FirstName"];
        string lastName = Request["LastName"];
        string birthDay = Request["BirthDay"];

        if (!userLogic.Add(firstName, lastName, birthDay))
        {
            Response.SetStatus(HttpStatusCode.BadRequest);
            return;
        }

        Response.Redirect("/Account");
    }
}

<a href="~/Users/adduser" class="add-award btn btn-sm btn-success">
    Add user
</a>


<ul id="userList">
    @foreach (var user in users.GetAll())
    {
        <li data-id="@user.Id">

            <span>
                @user.FirstName @user.LastName (Birthday: @user.BirthDate.ToString("dd.MM.yyyy"))
            </span>
            <br />

                if (userAwards.UserHasAwards(user.Id))
                {
                    <div>
                        User awards:
                        <div>
                            @foreach (var award in userAwards.GetUserAwards(user.Id))
                            {
                                <div>
                                    @{ Award userAward = awards.GetAwardById(int.Parse(award));

                                        <img src="~/ViewImage?id=@userAward.ImageId" alt=@userAward.Title class="img-rounded img-responsive" width="20" height="20">

                                        @userAward.Title
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }


            <a href="~/Users/edituser?id=@user.Id" class="edit-user btn btn-sm btn-warning">
                Edit user
            </a>

            <button class="delete-user btn btn-sm btn-danger">Delete user</button>

            <a href="~/Users/edituserawards?id=@user.Id" class="add-award btn btn-sm btn-success">
                Edit user awards
            </a>

            <hr />
        </li>
    }
</ul>